@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
//@import './styles/main.scss';

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
li {
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

input {
  display: block;
  border: none;
  padding: 0;
  outline: none;
  border-radius: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

* {
  //overflow-x: hidden;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
	color: #e8e5e5;
}
